.header-bar__chats {
  margin-bottom: 10px;
}

.find__header__iconlist {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.icon__div {
  display: flex;
  flex-direction: column;
  /* flex-direction 을 사용 할려면 기존 전제 조건이 display:flex 임
   https://studiomeal.com/archives/197*/
  align-items: center;
}

.find__header {
}

.icon {
  margin-bottom: 10px;
  font-size: 20px;
}

.icon__name {
  font-size: 10px;
}

.find__recommFriends_title {
  opacity: 0.7;
  font-size: 12px;
  margin-bottom: 20px;
  border-top: 1px solid #f7f7f7;
  margin-top: 20px;
  padding-top: 15px;
}

.find__recommFriends__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.find__recommFriends1__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.find__recommFriends__list__name {
  font-weight: 700;
}
